<div th:fragment="search">
    <div aria-labelledby="nav-home-tab" class="tab-pane fade show active" id="nav-home"
         role="tabpanel">

        <div class="row">
            <fieldset class="border  col-8">
                <legend class="text-muted w-auto "><strong>&#x2315;</strong><small> Search Customer by</small></legend>
                <form action="" method="post" modelAttribute="userDto">
                    <div class="form-group">
                        <label for="accountNumber"><strong>Account Number (खाता नं.)</strong></label>
                        <input a class="form-control" id="accountNumber"
                               name="accountNumber" type="text">
                    </div>
                    <div class="form-group">
                        <label for="cardNumber"><strong>Card Number (कार्ड नं )</strong></label>
                        <input class="form-control" id="cardNumber" name="cardNumber"
                               type="text">
                    </div>
                    <div class="form-group">
                        <label for="citizenshipNumber"><strong>Citizenship Number (नागरिकता न.)</strong></label>
                        <input class="form-control" id="citizenshipNumber" name="citizenshipNumber"
                               type="text">
                    </div>
                    <button class="btn btn-primary" type="submit">Search</button>
                </form>
            </fieldset>
            <fieldset class="border col-4">
                <legend class="text-muted w-auto "><strong>&#9735;</strong><small> Quick Link</small></legend>
                <button class="btn btn-sm btn-outline-primary" type="button">
                    Total KYC Customer <span class="badge badge-light">9</span>
                    <span class="sr-only">unread messages</span>
                </button>

                <button class="btn btn-sm btn-outline-primary" type="button">
                    Customer with KYC Update Notice <span class="badge badge-light">5</span>
                    <span class="sr-only">unread messages</span>
                </button>
            </fieldset>
        </div>
    </div>
</div>