<div th:fragment="view(kycs)" xmlns:th="http://www.w3.org/1999/html">

    <div aria-labelledby="nav-view-tab" class="tab-pane fade show active" id="nav-view"
         role="tabpanel">
        <p>
        <table class="table table-sm table-striped">
            <thead>
            <tr class="small">
                <th scope="col">
                    <div class="dropdown show">
                        <a aria-expanded="false" aria-haspopup="true" class="btn btn-sm" data-toggle="dropdown" href="#"
                           id="dropdownMenuLink" role="button">
                            <strong>&#9730;</strong>
                        </a>

                        <div aria-labelledby="dropdownMenuLink" class="dropdown-menu small">
                            <a class="dropdown-item small" href="#">Select All on Page</a>
                            <a class="dropdown-item small" href="#">Select All on Page</a>
                            <a class="dropdown-item small" href="#">Reset All</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item small" href="#">Apply Filter</a>
                            <a class="dropdown-item small" href="#">Clear Filter</a>
                        </div>
                    </div>

                </th>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Citizenship</th>
                <th scope="col">Account Number</th>
                <th scope="col">Card Number</th>
                <th scope="col">Email</th>
                <th scope="col">Contact</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr class="small" th:each="kyc:${kycs}">
                <td><input name="id" type="checkbox"/></td>
                <th scope="row" th:text="${kycStat.count}">1</th>
                <td th:text="${kyc.customerName}">Mark</td>
                <td th:text="${kyc.citizenshipNumber}">Otto</td>
                <td th:text="${kyc.accountNumber}">@mdo</td>
                <td th:text="${kyc.cardNumber}">Otto</td>
                <td th:text="${kyc.email}">@mdo</td>
                <td th:text="${kyc.mobileNumber}">Otto</td>
                <td th:text="${kyc.status}">@mdo</td>
                <td>
                    <div class="dropdown show">
                        <a aria-expanded="false" aria-haspopup="true" class="btn btn-sm" data-toggle="dropdown" href="#"
                           role="button">
                            <strong> &#9754;</strong>
                        </a>

                        <div aria-labelledby="dropdownMenuLink" class="dropdown-menu small">
                            <a class="dropdown-item small"
                               href="#" onclick="return confirm('Customer will receive mail with link to update KYC.' +
                                ' Are you sure you want Notify Customer?')">Request KYC Update</a>
                            <a class="dropdown-item" data-target="#viewLinkModal" data-toggle="modal"
                               href="#" th:attr="data-client-id=${kyc.getIdentifier()}">View QR Code/Link</a>
                            <a class="dropdown-item small" th:href="@{/customer/kyc}" target="_blank">View KYC</a>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        </p>
        <p>
        <div th:include="fragment/common/pagination:: pagination(${kycs})"/>
        </p>
    </div>
    <!-- modal started for view link-->
    <div aria-hidden="true" aria-labelledby="viewLinkModalLabel" class="modal fade" id="viewLinkModal" role="dialog"
         tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">View QR Code/Link</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div name="link"></div>


                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script>

        $("#viewLinkModal").on('show.bs.modal', function (e) {
            //get data-id attribute of the clicked element
            var clientId = $(e.relatedTarget).data('client-id');


            //populate the textbox
            $(e.currentTarget).find('div[name="link"]').html(clientId);
        });


    </script>

</div>




