<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Core - DashBoard</title>-->
<!--    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">-->
<!--    <style>-->
<!--        .table th {-->
<!--            padding: 0;-->
<!--        }-->

<!--        .table td {-->
<!--            padding: 0;-->
<!--        }-->
<!--    </style>-->
<!--</head>-->
<!--<body>-->
<!--<script th:src="@{/js/jquery3.5.1.min.js}"></script>-->
<!--<script th:src="@{/js/bootstrap.js}"></script>-->
<!--<div class="container">-->

<!--    <div class="card text-center">-->

<!--&lt;!&ndash;        <div class="card-header" th:include="/fragments/header:: header"/>&ndash;&gt;-->

<!--        <div class="card-body">-->
<!--            <div id="accordion">-->
<!--                <div class="card" th:include="fragments/dashboard/activity-meter:: activity-meter"/>-->
<!--                <div class="card" th:include="fragments/dashboard/setting:: setting"></div>-->
<!--                <div class="card" th:include="fragments/dashboard/control-panel:: control-panel"></div>-->
<!--            </div>-->

<!--        </div>-->
<!--        <div class="card-footer" th:include="/fragments/footer::footer"/>-->
<!--    </div>-->


<!--</div>-->
<!--</body>-->
<!--</html>-->
