<nav th:fragment="navigation(sTab)">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a aria-controls="nav-home" aria-selected="true" class="nav-item nav-link"
           id="nav-home-tab"
           role="tab" th:classappend="${sTab eq 'home'?'active':''}" th:href="@{/customer/0/main}">&#8962; Home</a>
        <a aria-controls="nav-view" aria-selected="false" class="nav-item nav-link"
           id="nav-view-tab"
           role="tab" th:classappend="${sTab eq 'view'?'active':''}" th:href="@{/customer/1/main}">&#128100; View</a>
    </div>
</nav>
