<nav aria-label="Page navigation example" th:fragment="pagination(pData)">
    <ul class="pagination justify-content-center">
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="0">Previous</a>
        </li>
        <li class="page-item" th:classappend="${(pData.pageable.pageNumber+1) == i}?'active'"
            th:each="i: ${#numbers.sequence(1, pData.totalPages)}">
            <a class="page-link" th:href="@{?page=}+ ${i}"><span th:text="${i}"></span></a>
        </li>

        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</nav>