<div th:fragment="family_relationship">
  <div class="card-header" id="headingFamilyRelationship">
    <h5 class="mb-0">
      <mark>
        <button aria-controls="collapseFamilyRelationship" aria-expanded="false" class="btn btn-link collapsed"
                data-target="#collapseFamilyRelationship"
                data-toggle="collapse">
          <h4>Family Relations (परिवारिक विवरण) </h4>
        </button>
      </mark>
    </h5>
  </div>

  <div aria-labelledby="headingFamilyRelationship" class="collapse" data-parent="#accordion"
       id="collapseFamilyRelationship">
    <div class="card-body">
      <small class="bg-light">
        <div class="row">
          <div class="col-md-12">
            <div class="card mt-1 p-2">

              <table class="table table-bordered">
                <thead class="thead-light">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Relations (नाता) </th>
                  <th scope="col">Full Name (पुरा नाम)</th>
                  <th scope="col">Contact No (सम्पर्क नं.):</th>
                  <th scope="col">Citizenship No (नागरिकता न.)* </th>
                  <th scope="col">Issued District
                    (जारी भएको जिल्ला) *</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Spouse (श्रीमान/ श्रीमती)</td>
                  <td><input type="text" class="form-control"></td>
                  <td><input type="text" class="form-control"></td>
                  <td><input type="text" class="form-control"></td>
                  <td><input type="text" class="form-control"></td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Father(बुबा)</td>
                  <td><input type="text" class="form-control"></td>
                  <td><input type="text" class="form-control"></td>
                  <td><input type="text" class="form-control"></td>
                  <td><input type="text" class="form-control"></td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Mother (आमा)</td>
                  <td><input type="text" class="form-control"></td>
                  <td><input type="text" class="form-control"></td>
                  <td><input type="text" class="form-control"></td>
                  <td><input type="text" class="form-control"></td>
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>Grand Father (हजुरबुवा)</td>
                  <td><input type="text" class="form-control"></td>
                  <td><input type="text" class="form-control"></td>
                  <td><input type="text" class="form-control"></td>
                  <td><input type="text" class="form-control"></td>
                </tr>
                <tr>
                  <th scope="row">5</th>
                  <td>Grand Mother (हजुरआमा)</td>
                  <td><input type="text" class="form-control"></td>
                  <td><input type="text" class="form-control"></td>
                  <td><input type="text" class="form-control"></td>
                  <td><input type="text" class="form-control"></td>
                </tr>
                <tr>
                  <th scope="row">6</th>
                  <td>Sons (छोराहरु) </td>
                  <td><input type="text" class="form-control"></td>
                  <td><input type="text" class="form-control"></td>
                  <td><input type="text" class="form-control"></td>
                  <td><input type="text" class="form-control"></td>
                </tr>
                <tr>
                  <th scope="row">7</th>
                  <td>Daughters (छोरीहरु)</td>
                  <td><input type="text" class="form-control"></td>
                  <td><input type="text" class="form-control"></td>
                  <td><input type="text" class="form-control"></td>
                  <td><input type="text" class="form-control"></td>
                </tr>
                <tr>
                  <th scope="row">8</th>
                  <td>Daughters in law (बुहारीहरू)</td>
                  <td><input type="text" class="form-control"></td>
                  <td><input type="text" class="form-control"></td>
                  <td><input type="text" class="form-control"></td>
                  <td><input type="text" class="form-control"></td>
                </tr>
                <tr>
                  <th scope="row">9</th>
                  <td>Father in Law (ससुरा) <br/>
                    (For married woman <br/> विवाहित महिलाको हकमा)
                  </td>
                  <td><input type="text" class="form-control"></td>
                  <td><input type="text" class="form-control"></td>
                  <td><input type="text" class="form-control"></td>
                  <td><input type="text" class="form-control"></td>
                </tr>
                </tbody>
              </table>
              <div class="alert alert-info" role="alert">
                Note : Citizenship details are not mandatory if the member is legally separated, Minor and/or deceased.
                (जीवित नरहेको, विधिवत अंशबन्डा भैसकेको तथा नाबालकको हकमा नागरिकताको विवरण अनिवार्य नहुने/)
              </div>
            </div>
          </div>
        </div>
      </small>
    </div>
  </div>
</div>
