<div th:fragment="personal-detail">
  <div class="card-header" id="headingPersonalDetail">
    <h5 class="mb-0">
      <mark>
        <button aria-controls="collapsePersonalDetail" aria-expanded="false" class="btn btn-link"
                data-target="#collapsePersonalDetail"
                data-toggle="collapse">
          <h4>Personal Information (व्यक्तिगत विवरण) </h4>
        </button>
      </mark>
    </h5>
  </div>

  <div aria-labelledby="headingPersonalDetail" class="collapse show" data-parent="#accordion"
       id="collapsePersonalDetail">
    <div class="card-body">
      <small class="bg-light">
        <div class="row">
          <div class="col-md-12">
            <div class="card p-2 mt-1">

              <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="customerName">Name:
                  (नाम):
                </label>
                <div class="col-sm-10">
                  <input class="form-control" id="customerName" placeholder="Eg: Raju Rana or (राजु राना)"
                         type="text">
                </div>
              </div>
              <hr/>
              <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="citizenshipNo"> Citizenship No (नागरिकता न.)</label>
                  <input class="form-control" id="citizenshipNo" placeholder="Citizenship No"
                         type="text">
                </div>
                <div class="form-group col-md-4">
                  <label for="issuingAuthority"> Issuing Authority (जारी गर्ने कार्यालय):</label>
                  <input class="form-control" id="issuingAuthority" placeholder="Issuing Authority"
                         type="text">
                </div>
                <div class="form-group col-md-4">
                  <label for="issuedDate"> Issued Date (जारी मिति): </label>
                  <input class="form-control" id="issuedDate" placeholder="Issued Date" type="date">
                </div>
              </div>
              <hr/>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="cardNumber">Passport (राहदानी):
                </label>
                <div class="col-sm-10">
                  <div class="form-check form-check-inline col-md-5">
                    <input class="form-check-input" id="passportObtained" name="hasPassport"
                           type="radio" value="option1">
                    <label class="form-check-label" for="passportObtained">obtained (लिएको
                      छु) </label>
                  </div>
                  <div class="form-check form-check-inline col-md-5">
                    <input class="form-check-input" id="passportNotObtained" name="hasPassport"
                           type="radio" value="option2">
                    <label class="form-check-label" for="passportNotObtained">not obtained (लिएको
                      छैन)</label>
                  </div>
                </div>
              </div>
              <hr/>
              <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="passportNo"> Passport No (राहदानी न.)</label>
                  <input class="form-control" id="passportNo" placeholder="Citizenship No"
                         type="text">
                </div>
                <div class="form-group col-md-4">
                  <label for="passportIssuingAuthority"> Issuing Authority (जारी गर्ने
                    कार्यालय):</label>
                  <input class="form-control" id="passportIssuingAuthority" placeholder="Issuing Authority"
                         type="text">
                </div>
                <div class="form-group col-md-4">
                  <label for="passportIssuedDate"> Issued Date (जारी मिति): </label>
                  <input class="form-control" id="passportIssuedDate" placeholder="Issued Date"
                         type="date">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="residenceContactNumber">Residence Contact No( निवास सम्पर्क
                    नं.):</label>
                  <input class="form-control" id="residenceContactNumber" placeholder="091550720"
                         type="text">
                </div>
                <div class="form-group col-md-6">
                  <label for="dateOfBirth">Date of Birth (जन्म मिति): </label>
                  <input class="form-control" id="dateOfBirth" placeholder="Date of Birth"
                         type="date">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="email">Email</label>
                  <input class="form-control" id="email" placeholder="eg: raju@gmail.com"
                         type="email">
                </div>
                <div class="form-group col-md-6">
                  <label for="mobile">Mobile (मोबाइल नं.):</label>
                  <input class="form-control" id="mobile" placeholder="eg:9860119992" type="text">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="postBoxNo"> P.O. Box no. (पोष्ट बक्स नं.): </label>
                  <input class="form-control" id="postBoxNo" placeholder="eg: 14001" type="Number">
                </div>
                <div class="form-group col-md-6">
                  <label for="panNo">PAN No. (स्थायी लेखा न.):</label>
                  <input class="form-control" id="panNo" placeholder="eg:1234564" type="number">
                </div>
              </div>
            </div>
          </div>
        </div>
      </small>
    </div>
  </div>
</div>
