<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>KYC Customer</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body>
<script th:src="@{/js/jquery3.5.1.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.js}"></script>
<script th:src="@{/js/util.js}"></script>
<script th:src="@{/js/bootstrap.bundle.js}"></script>

<div class="container">

    <div class="card text-center">

        <div class="card-header" th:include="fragment/common/header:: header"/>

        <div class="card-body">
            <div th:include="fragment/common/navigation :: navigation(${tab})"/>
            <div class="tab-content" id="nav-tabContent">
                <div th:include="fragment/customer/search:: search" th:if="${tab eq 'home'}"/>
                <div th:include="fragment/customer/view:: view(${kycs})" th:if="${tab eq 'view'}"/>

            </div>
        </div>
        <div class="card-footer" th:include="fragment/common/footer::footer"/>
    </div>


</div>
</body>
</html>
