<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer KYC Form</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="d-flex justify-content-center" style="color: red"><h3>KYC UPDATE FOR PREPAID CREDIT CARD</h3></div>
    <div class="d-flex justify-content-center" style="color: red"><h6><u>ग्राहक पहिचान विवरण</u></h6></div>
    <form method="post" th:action="@{/kyc}" th:object="${kycDto}">
        <div class="row">
            <div class="col-md-12">
                <div class="card p-2 mt-1">

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" for="customerName">Name:
                            (नाम):
                        </label>
                        <div class="col-sm-9">
                            <input class="form-control" id="customerName" placeholder="Eg: Raju Rana or (राजु राना)"
                                   th:field="*{personalDetailDto.name}" type="text">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" for="accountNumber">Account Number (खाता नं.
                            भएमा):</label>
                        <div class="col-sm-9">
                            <input class="form-control" id="accountNumber" placeholder="Account Number"
                                   th:field="*{accountNumber}"
                                   type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" for="cardNumber">Card Number (कार्ड नं भएमा):
                            (For Existing Card Holder)
                        </label>
                        <div class="col-sm-9">
                            <input class="form-control" id="cardNumber" placeholder="Card Number"
                                   th:field="*{cardNumber}"
                                   type="text">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card p-2 mt-1">
                    <h4>Personal Information (व्यक्तिगत विवरण) </h4>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="citizenshipNo"> Citizenship No (नागरिकता न.)</label>
                            <input class="form-control" id="citizenshipNo" placeholder="Citizenship No"
                                   th:field="*{personalDetailDto.citizenshipNo}"
                                   type="text">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="issuingDistrict"> Issuing District (जारी गर्ने कार्यालय):</label>
                            <select class="form-control" id="issuingDistrict"
                                    th:field="*{personalDetailDto.citizenIssuingDistrict}">
                                <option th:each="district:${districts}" th:text="${district.name}"
                                        th:value="${district.name}"></option>
                            </select>
                            <!--                            <input type="text" class="form-control" id="issuingAuthority"-->
                            <!--                                   placeholder="Issuing Authority"-->
                            <!--                                   th:field="*{personalDetailDto.citizenIssuingDistrict}">-->
                        </div>
                        <div class="form-group col-md-4">
                            <label for="issuedDate"> Issued Date (जारी मिति): </label>
                            <input class="form-control" id="issuedDate" placeholder="Issued Date"
                                   th:field="*{personalDetailDto.citizenIssuedDate}"
                                   type="date">
                        </div>
                    </div>
                    <hr/>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="cardNumber">Passport (राहदानी):
                        </label>
                        <div class="col-sm-10">
                            <div class="form-check form-check-inline col-md-5">
                                <input class="form-check-input" id="passportObtained"
                                       th:field="*{personalDetailDto.passportObtainedFlag}"
                                       th:value="true" type="radio">
                                <label class="form-check-label" for="passportObtained">obtained
                                    (लिएको छु) </label>
                            </div>
                            <div class="form-check form-check-inline col-md-5">
                                <input class="form-check-input" id="passportNotObtained"
                                       th:field="*{personalDetailDto.passportObtainedFlag}" th:value="false"
                                       type="radio">
                                <label class="form-check-label" for="passportNotObtained">not
                                    obtained (लिएको छैन)</label>
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="passportNo"> Passport No (राहदानी न.)</label>
                            <input class="form-control" id="passportNo" placeholder="Citizenship No"
                                   th:field="*{personalDetailDto.passportNo}"
                                   type="text">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="passportIssuingAuthority"> Issuing Authority (जारी गर्ने कार्यालय):</label>
                            <input class="form-control" id="passportIssuingAuthority" placeholder="Issuing Authority"
                                   th:field="*{personalDetailDto.passportIssuingAuthority}"
                                   type="text">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="passportIssuedDate"> Issued Date (जारी मिति): </label>
                            <input class="form-control" id="passportIssuedDate" placeholder="Issued Date"
                                   th:field="*{personalDetailDto.passoprtIssuedDate}"
                                   type="date">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="residenceContactNumber">Residence Contact No( निवास सम्पर्क नं.):</label>
                            <input class="form-control" id="residenceContactNumber" placeholder="091550720"
                                   th:field="*{personalDetailDto.residenceContactNo}"
                                   type="text">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="dateOfBirth">Date of Birth (जन्म मिति): </label>
                            <input class="form-control" id="dateOfBirth" placeholder="Date of Birth"
                                   th:field="*{personalDetailDto.dob}"
                                   type="date">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="email">Email</label>
                            <input class="form-control" id="email" placeholder="eg: raju@gmail.com"
                                   th:field="*{personalDetailDto.email}"
                                   type="email">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="mobile">Mobile (मोबाइल नं.):</label>
                            <input class="form-control" id="mobile" placeholder="eg:9860119992"
                                   th:field="*{personalDetailDto.mobileNo}"
                                   type="text">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="postBoxNo"> P.O. Box no. (पोष्ट बक्स नं.): </label>
                            <input class="form-control" id="postBoxNo" placeholder="eg: 14001"
                                   th:field="*{personalDetailDto.poBoxNo}"
                                   type="number">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="panNo">PAN No. (स्थायी लेखा न.):</label>
                            <input class="form-control" id="panNo" placeholder="eg:1234564"
                                   th:field="*{personalDetailDto.panNo}"
                                   type="number">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card mt-1 p-2">
                    <h4>Family Relations (परिवारिक विवरण):</h4>
                    <table class="table table-bordered">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Relations</br> (नाता)</th>
                            <th scope="col">Full Name </br>(पुरा नाम)</th>
                            <th scope="col">Contact No</br> (सम्पर्क नं.):</th>
                            <th scope="col">Citizenship No</br> (नागरिकता न.)*</th>
                            <th scope="col">Issued District</br>
                                (जारी भएको जिल्ला) *
                            </th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr th:each="relation, itemStat :${relations}">
                            <th scope="row" th:text="${itemStat.count}">1</th>
                            <td><input class="form-control input-sm text-sm-left" readonly="readonly"
                                       th:field="*{familyRelations[__${itemStat.index}__].relationship}"
                                       type="text"></td>
                            <script th:inline="javascript" >
                                var relative =[[${relation}]];
                                var pos = [[${itemStat.index}]];
                                document.getElementById("familyRelations"+pos+".relationship").value= relative;
                            </script>
                            <td><input class="form-control input-sm" th:field="*{familyRelations[__${itemStat.index}__].fullName}" type="text"></td>
                            <td><input class="form-control input-sm" th:field="*{familyRelations[__${itemStat.index}__].contactNo}" type="text"></td>
                            <td><input class="form-control input-sm" th:field="*{familyRelations[__${itemStat.index}__].citizenshipNo}" type="text">
                            </td>
                            <td>
                                <select class="form-control"
                                        th:field="*{familyRelations[__${itemStat.index}__].district.id}">
                                    <option th:each="district : ${districts}"
                                            th:text="${district.name}"
                                            th:value="${district.id}">Select District
                                    </option>
                                </select>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                    <div class="alert alert-info" role="alert">
                        Note : Citizenship details are not mandatory if the member is legally separated, Minor and/or
                        deceased.
                        (जीवित नरहेको, विधिवत अंशबन्डा भैसकेको तथा नाबालकको हकमा नागरिकताको विवरण अनिवार्य नहुने/)
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card mt-1 p-2">
                    <h4>Occupation / Business (पेशा / व्यवसायहरू)</h4>
                    <table class="table table-bordered">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name of the Institution </br> (कार्यालयको नाम)</th>
                            <th scope="col">Address </br> ((ठेगाना)</th>
                            <th scope="col">Contact No </br> (सम्पर्क नं.):</th>
                            <th scope="col">Designation </br>(पद)</th>
                            <th scope="col">Yearly Income / Salary </br>(बार्षिक आम्दानी / तलब)</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td><input class="form-control" th:field="*{businesses[0].name}" type="text"></td>
                            <td><input class="form-control" th:field="*{businesses[0].address}" type="text"></td>
                            <td><input class="form-control" th:field="*{businesses[0].contactNo}" type="text"></td>
                            <td><input class="form-control" th:field="*{businesses[0].designation}" type="text"></td>
                            <td><input class="form-control" th:field="*{businesses[0].yearlyIncome}" type="text"></td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td><input class="form-control" th:field="*{businesses[1].name}" type="text"></td>
                            <td><input class="form-control" th:field="*{businesses[1].address}" type="text"></td>
                            <td><input class="form-control" th:field="*{businesses[1].contactNo}" type="text"></td>
                            <td><input class="form-control" th:field="*{businesses[1].designation}" type="text"></td>
                            <td><input class="form-control" th:field="*{businesses[1].yearlyIncome}" type="text"></td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td><input class="form-control" th:field="*{businesses[2].name}" type="text"></td>
                            <td><input class="form-control" th:field="*{businesses[2].address}" type="text"></td>
                            <td><input class="form-control" th:field="*{businesses[2].contactNo}" type="text"></td>
                            <td><input class="form-control" th:field="*{businesses[2].designation}" type="text"></td>
                            <td><input class="form-control" th:field="*{businesses[2].yearlyIncome}" type="text"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card mt-1 p-2">
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Present Address (हालको ठेगाना)</h5>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label" for="houseNo">House No. (घर नं.):</label>
                                <div class="col-sm-10">
                                    <input class="form-control" id="houseNo" placeholder="Eg:13498"
                                           th:field="*{personalDetailDto.presentAddress.houseNo}"
                                           type="number">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label" for="tole">Tole (टोल):</label>
                                <div class="col-sm-10">
                                    <input class="form-control" id="tole" placeholder="Eg:Rajghat"
                                           th:field="*{personalDetailDto.presentAddress.tole}" type="text">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label" for="wardNo">Ward No.(वडा नं ):</label>
                                <div class="col-sm-10">
                                    <input class="form-control" id="wardNo" placeholder="Eg:09"
                                           th:field="*{personalDetailDto.presentAddress.wardNo}" type="number">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">District (जिल्ला):</label>
                                <div class="col-sm-10">
                                    <select class="form-control"
                                            th:field="*{personalDetailDto.presentAddress.district.id}">
                                        <option th:each="district : ${districts}"
                                                th:text="${district.name}"
                                                th:value="${district.id}">Select Districts
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label" for="houseOwner">Name & Address of House owner:
                                    (घर धनीको नाम र ठेगाना)
                                </label>
                                <div class="col-sm-10">
                                    <input class="form-control" id="houseOwner"
                                           placeholder="Eg:Hari Bahadur Krishnapur 09 Kanchanpur"
                                           th:field="*{personalDetailDto.houseOwner}"
                                           type="text">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h5>Permanent Address (स्थाई ठेगाना):</h5>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label" for="permanentHouseNo">House No. (घर
                                    नं.):</label>
                                <div class="col-sm-10">
                                    <input class="form-control" id="permanentHouseNo" placeholder="Eg:13498"
                                           th:field="*{personalDetailDto.permanentAddress.houseNo}"
                                           type="number">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label" for="permanentTole">Tole (टोल):</label>
                                <div class="col-sm-10">
                                    <input class="form-control" id="permanentTole" placeholder="Eg:Rajghat"
                                           th:field="*{personalDetailDto.permanentAddress.tole}"
                                           type="text">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label" for="permanentWardNo">Ward No.(वडा नं ):</label>
                                <div class="col-sm-10">
                                    <input class="form-control" id="permanentWardNo" placeholder="Eg:09"
                                           th:field="*{personalDetailDto.permanentAddress.wardNo}" type="number">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">District (जिल्ला):</label>
                                <div class="col-sm-10">
                                    <select class="form-control"
                                            th:field="*{personalDetailDto.permanentAddress.district.id}">
                                        <option th:each="district : ${districts}"
                                                th:text="${district.name}"
                                                th:value="${district.id}">Select Districts
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label" for="contactNo">Contact No
                                    (सम्पर्क नं.):
                                </label>
                                <div class="col-sm-10">
                                    <input class="form-control" id="contactNo" placeholder="Eg:9860119992"
                                           th:field="*{personalDetailDto.permanentAddressContact}"
                                           type="text">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card mt-1 p-2">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Politically Exposed/ Influential Person ? <br> (राजनैतिक
                            प्रभावशाली व्यक्ति ? )</label>
                        <div class="col-sm-9">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="political"
                                       th:field="*{accountPurposeDto.isPoliticalInfluenced}"
                                       th:value="true" type="radio">
                                <label class="form-check-label" for="political">Yes (हो)</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="nonPolitical"
                                       th:field="*{accountPurposeDto.isPoliticalInfluenced}"
                                       th:value="false" type="radio">
                                <label class="form-check-label" for="nonPolitical">No (होइन)</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" for="politicianDescription">If Yes, remarks on
                            affiliation: (भएमा, बिवरण:) </label>
                        <div class="col-sm-9">
                            <input class="form-control" id="politicianDescription" placeholder="Description"
                                   th:field="*{accountPurposeDto.politicalDescription}" type="text">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card mt-1 p-2">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Expected Monthly Turnover: <br> (अपेक्षित् मासिक कारोबार
                            रकम)</label>
                        <div class="col-sm-9">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="lessThan5Lakh"
                                       th:field="*{accountPurposeDto.expectedMontlyTurnover}"
                                       type="radio" value="Less Than 5 Lakh">
                                <label class="form-check-label" for="lessThan5Lakh">Less than 5 Lakhs <br/>
                                    (५ लाख भन्दा कम) </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="lessThan10Lakh"
                                       th:field="*{accountPurposeDto.expectedMontlyTurnover}"
                                       type="radio" value="Less Than 10 Lakh">
                                <label class="form-check-label" for="lessThan10Lakh">Less than 10 Lakhs <br/>
                                    (१० लाख भन्दा कम)</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="moreThan10Lakh"
                                       th:field="*{accountPurposeDto.expectedMontlyTurnover}"
                                       type="radio" value="More Than 10 Lakh">
                                <label class="form-check-label" for="moreThan10Lakh">Above 10 Lakhs <br/> (१० लाख भन्दा
                                    माथि)</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card mt-1 p-2">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Expected Monthly Transaction <br/>
                            (अपेक्षित् मासिक कारोबार संख्या)</label>
                        <div class="col-sm-9">
                            <div class="form-check form-check-inline mr-2">
                                <input class="form-check-input" id="lessThan10"
                                       th:field="*{accountPurposeDto.expectedMontlyTransaction}"
                                       type="radio"
                                       value="Less Than 10 Transaction">
                                <label class="form-check-label" for="lessThan10">Less than 10 <br/>(१० भन्दा कम)
                                </label>
                            </div>
                            <div class="form-check form-check-inline mr-2">
                                <input class="form-check-input" id="lessThan25"
                                       th:field="*{accountPurposeDto.expectedMontlyTransaction}"
                                       type="radio"
                                       value="Less Than 25 Transaction">
                                <label class="form-check-label" for="lessThan25">Less than 25 <br/> (२५ भन्दा
                                    कम)</label>
                            </div>
                            <div class="form-check form-check-inline mr-2">
                                <input class="form-check-input" id="moreThan10"
                                       th:field="*{accountPurposeDto.expectedMontlyTransaction}"
                                       type="radio"
                                       value="More Than 25 Transaction">
                                <label class="form-check-label" for="moreThan10">Above 25<br/> (२५ भन्दा माथि)</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card mt-1 p-2">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Purpose of Account <br/> (खाताको उदेश्य):</label>
                        <div class="col-sm-9">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="inlineCheckbox1"
                                       th:field="*{accountPurposeDto.purposeOfAccount}"
                                       type="radio" value="Remittance">
                                <label class="form-check-label" for="inlineCheckbox1">Remittance (विप्रेषण)</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="inlineCheckbox2"
                                       th:field="*{accountPurposeDto.purposeOfAccount}"
                                       type="radio" value="Saving">
                                <label class="form-check-label" for="inlineCheckbox2">Savings (वचत)</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="inlineCheckbox3"
                                       th:field="*{accountPurposeDto.purposeOfAccount}"
                                       type="radio" value="Business">
                                <label class="form-check-label" for="inlineCheckbox3">Business (व्यवसाय)</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="inlineCheckbox4"
                                       th:field="*{accountPurposeDto.purposeOfAccount}"
                                       type="radio" value="Others">
                                <label class="form-check-label" for="inlineCheckbox4">Others (अन्य) </label>
                                <input class="form-control" placeholder="if others (अन्य भएमा)"
                                       th:field="*{accountPurposeDto.otherAccountPurpose}"
                                       type="text">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card mt-1 p-2">
                    <div class="form-group row">
                        <label class="col-sm-12 col-form-label">Source of Assets (सम्पतिको श्रोत): </label>
                        <div class="col-sm-12">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="inlineCheckbox5"
                                       th:field="*{accountPurposeDto.sourceOfAssests}"
                                       type="radio" value="Salary">
                                <label class="form-check-label" for="inlineCheckbox5">Salary (तलब) </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="inlineCheckbox6"
                                       th:field="*{accountPurposeDto.sourceOfAssests}"
                                       type="radio" value="Remittance">
                                <label class="form-check-label" for="inlineCheckbox6">Remittance (विप्रेषण) </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="inlineCheckbox7"
                                       th:field="*{accountPurposeDto.sourceOfAssests}"
                                       type="radio" value="Return of Investment">
                                <label class="form-check-label" for="inlineCheckbox7">Return of Investment (व्यवसायिक
                                    नाफा)</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="inlineCheckbox8"
                                       th:field="*{accountPurposeDto.sourceOfAssests}"
                                       type="radio" value="Rent">
                                <label class="form-check-label" for="inlineCheckbox8">Rent (घर भाडा) </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="inlineCheckbox9"
                                       th:field="*{accountPurposeDto.sourceOfAssests}"
                                       type="radio" value="Sale of Assests">
                                <label class="form-check-label" for="inlineCheckbox9">Sale of Assets (सम्पतिको
                                    बिक्रि) </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="inlineCheckbox10"
                                       th:field="*{accountPurposeDto.sourceOfAssests}"
                                       type="radio" value="Donation">
                                <label class="form-check-label" for="inlineCheckbox10">Donation (उपदान)</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="inlineCheckbox11"
                                       th:field="*{accountPurposeDto.sourceOfAssests}"
                                       type="radio" value="Others">
                                <label class="form-check-label" for="inlineCheckbox11">Others (अन्य) </label>
                                <input class="form-control" placeholder="if others (अन्य भएमा)"
                                       th:field="*{accountPurposeDto.otherSourceOfAssests}"
                                       type="text">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card mt-1 p-2">
                    <h4>Supporting Documents (आवश्यक कागजातहरू) (enclosed as applicable) </h4>
                    <div class="form-group row">
                        <label class="col-sm-12 col-form-label">Identification Document (परिचयपत्र) </label>
                        <div class="col-sm-12">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="inlineCheckbox12"
                                       th:field="*{documentDto.identificationDocument}"
                                       type="radio" value="Citizenship">
                                <label class="form-check-label" for="inlineCheckbox12">Citizenship (नागरिकता) </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="inlineCheckbox13"
                                       th:field="*{documentDto.identificationDocument}"
                                       type="radio" value="Passport">
                                <label class="form-check-label" for="inlineCheckbox13"> Passport (पासपोर्ट) </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="inlineCheckbox14"
                                       th:field="*{documentDto.identificationDocument}"
                                       type="radio" value="Valid Visa">
                                <label class="form-check-label" for="inlineCheckbox14">Valid Visa for
                                    Foreigners </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-form-label">Address Verifying Documents (Any one) (ठेगाना प्रमाणित
                            गर्ने आवश्यक कागजात) (कुनै एक): </label>
                        <div class="col-sm-12">
                            <div class="form-check">
                                <input checked class="form-check-input" id="exampleRadios1"
                                       th:field="*{documentDto.addressProof}"
                                       type="radio" value="Utility Bill">
                                <label class="form-check-label" for="exampleRadios1">
                                    Utility Bill (Electricity/Telephone/ Water Bill) (पानी/टेलिफोन/बिजुलीको बिल)
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" id="exampleRadios2"
                                       th:field="*{documentDto.addressProof}"
                                       type="radio"
                                       value="Land Ownership Certificate">
                                <label class="form-check-label" for="exampleRadios2">
                                    Land ownership certificate (लालपुर्जा)
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" id="exampleRadios3"
                                       th:field="*{documentDto.addressProof}"
                                       type="radio"
                                       value="Rental Agreement">
                                <label class="form-check-label" for="exampleRadios3">
                                    Rental Agreement (घर बहाल सम्झौता)
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" id="exampleRadios4"
                                       th:field="*{documentDto.addressProof}"
                                       type="radio"
                                       value="Local Authority Recommendation">
                                <label class="form-check-label" for="exampleRadios4">
                                    Recommendation of Local Authority (वडा/नगरपालिका/गा.वि.स. को सिफारिस)
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" id="exampleRadios5"
                                       th:field="*{documentDto.addressProof}"
                                       type="radio"
                                       value="Driving License">
                                <label class="form-check-label" for="exampleRadios5">
                                    Driving License (सवारी चालक अनुमतिपत्र)
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" id="exampleRadios6"
                                       th:field="*{documentDto.addressProof}"
                                       type="radio"
                                       value="Voters ID">
                                <label class="form-check-label" for="exampleRadios6">
                                    Voters ID (चुनाव परिचयपत्र)
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" id="exampleRadios7"
                                       th:field="*{documentDto.addressProof}"
                                       type="radio"
                                       value="Employee Identification">
                                <label class="form-check-label" for="exampleRadios7">
                                    Employee Identification (If employed/ Mandatory for Govt. Officials) (कार्यालय
                                    परिचयपत्र (कर्मचारीको हकमा/सरकारी कर्मचारीकालागि अनिवार्य))
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" id="exampleRadios8"
                                       th:field="*{documentDto.addressProof}"
                                       type="radio"
                                       value="Other">
                                <label class="form-check-label" for="exampleRadios8">
                                    Other (अन्य)
                                </label>
                                <input class="form-control" placeholder="if any (अन्य भएमा)"
                                       th:field="*{documentDto.otherAddressProof}"
                                       type="text">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card mt-1 p-2">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-warning" role="alert">
                                <h5 class="alert-heading">Declaration: </h5>
                                <p>I hereby declare that the information provided above is true and correct and if found
                                    otherwise,
                                    I shall bear the consequences thereof. (माथि उल्लिखित सम्पूर्ण विवरण सहि र दुरुस्त
                                    भएको म प्रमाणित गर्दछु। यदि अन्यथा ठहरिएमा कानुन
                                    बमोजिम बेहोर्ने छु।)
                                </p>
                                <hr>
                                <span>Card Holder's Signature (सहि)</span>
                                <input class="form-control" placeholder="Type Name for E-Sign" th:field="*{signature}"
                                       type="text">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-primary m-3" type="submit">Submit</button>
    </form>

</div>

</body>
</html>
