<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>KYC Customer</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body>
<script th:src="@{/js/jquery3.5.1.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.js}"></script>
<div class="container">

  <div class="card text-center">

    <div class="card-header" th:include="fragment/common/header:: header"/>

    <div class="card-body">


      <div class="row">
        <div class="col-md-12">
          <div class="card p-2 mt-1">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label" for="accountNumber">Account Number (खाता नं.
                भएमा):</label>
              <div class="col-sm-9">
                <input class="form-control" id="accountNumber" placeholder="Account Number"
                       type="text">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label" for="cardNumber">Card Number (कार्ड नं भएमा):
                (For Existing Card Holder)
              </label>
              <div class="col-sm-9">
                <input class="form-control" id="cardNumber" placeholder="Card Number" type="text">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="accordion">
        <div class="card" th:include="fragment/kyc/personal-detail:: personal-detail"/>
        <div class="card" th:include="fragment/kyc/family_relationship:: family_relationship"/>

      </div>


    </div>
    <div class="card-footer" th:include="fragment/common/footer::footer"/>
  </div>


</div>
</body>
</html>
