<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>KYC Customer</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body>
<script th:src="@{/js/jquery3.5.1.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.js}"></script>
<script th:src="@{/js/util.js}"></script>
<script th:src="@{/js/bootstrap.bundle.js}"></script>

<div class="container">

    <div class="card text-center">

        <div class="card-header" th:include="fragment/common/header:: header"/>

        <div class="card-body">
            <h5> Find you !! </h5>
            <form action="" method="post" modelAttribute="userDto">
                <fieldset>
                    <legend class="text-muted w-auto "><strong>&#x2315;</strong><small>Account Number (खाता नं.)</small>
                    </legend>
                    <div class="form-group ">
                        <input a class="form-control" id="accountNumber"
                               name="accountNumber" type="text">
                    </div>
                </fieldset>
                <fieldset>
                    <legend class="text-muted w-auto "><strong>&#x2315;<small>Card Number (कार्ड नं )</small></strong>
                    </legend>
                    <div class="form-group">
                        <input class="form-control" id="cardNumber" name="cardNumber"
                               type="text">
                    </div>
                </fieldset>
                <fieldset>
                    <legend class="text-muted w-auto "><strong>&#x2315;</strong><small>Citizenship Number (नागरिकता
                        न.)</small>
                    </legend>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6"><label for="citizenshipNumber"><strong>Citizenship
                                Number </strong></label>
                                <input class="form-control" id="citizenshipNumber" name="citizenshipNumber"
                                       type="text"></div>
                            <div class="col-sm-6"><label for="citizenshipIssueDistrict"><strong>Citizenship Issuing
                                District</strong></label>
                                <select class="form-control" id="citizenshipIssueDistrict"
                                        name="citizenshipIssueDistrict">
                                    <option> -- select issuing district --</option>
                                    <option th:each="district : ${districts}"
                                            th:text="${district.name}"
                                            th:value="${district.name}">Select District
                                    </option>
                                </select>
                            </div>
                        </div>

                    </div>
                </fieldset>
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
        </div>
        <div class="card-footer" th:include="fragment/common/footer::footer"/>
    </div>


</div>
</body>
</html>
